<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Eat That Burger!</title>
	{{!-- jQuery Javscript--}}
	<script src="https://code.jquery.com/jquery.js"></script>
	{{!--Bootstrap CSS--}}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	{{!-- Custom CSS --}}
	<link rel="stylesheet" href="../../public/assets/css/burger_style.css">
</head>

<body>
	{{{ body }}}
</body>

</html>