<div class="container">

  <h1 class="text-center">Eat the Burger!</h1>
  <div class="text-center">
    <img src="./assets/img/burger.png" style="width:30%">
  </div>

  <div class="container">

    <div class="row">

      <div class="col-6">
        <h2>
          Un-Devoured Burgers
        </h2>
        <ul>
          {{#each burger}}
          {{#if devoured}}
          {{> burgers/burger-block devoured=false}}
          {{/if}}
          {{/each}}
        </ul>
      </div>

      <div class="col-6">
        <h2>
          Devoured Burgers
        </h2>
        <ul>
          {{#each burger}}
          {{#if devoured}}
          {{> burgers/burger-block devoured=true}}
          {{/if}}
          {{/each}}
        </ul>
      </div>

    </div>

  </div>

  <form class="create-form">
    <h2 class="text-left">
      Add Burger:
    </h2>
    <div class="form-group">
      <textarea class="form-control" id="add_burger" rows="1"></textarea>
    </div>
    <button type="submit" class="btn pull-left">Submit</button>
  </form>

</div>